@model model.Framework.Exam

@{ ViewBag.Title = "Create";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body card-block">
                            <form method="post" class="form">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.LabelFor(model => model.tile, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.tile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.tile, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.LabelFor(model => model.exame_time, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.exame_time, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.exame_time, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.LabelFor(model => model.publishDate, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.publishDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.publishDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div style="text-align: center;" @*class="col-md-offset-2 col-md-10"*@>
                                        <input type="submit" value="Xác nhận" class="btn btn-primary" />
                                        @Html.ActionLink("Hủy", "Index", "Exam", new { @class = "btn btn-secondary" })
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
