@model model.Framework.Exam

@{ ViewBag.Title = "Delete";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="modal fade show" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" style="display: block; padding-left: 16px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="scrollmodalLabel" style="color:red">Bạn có chắc muốn xóa người dùng này?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> @Html.ActionLink("×", "Index", "Exam")</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    @*<dt> @Html.DisplayNameFor(model => model.userpass)</dt>
                        <dd>@Html.DisplayFor(model => model.userpass)</dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.username)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.username)
                        </dd>*@
                    <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.tile)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tile)
                    </dd>
            </div>
            <div class="row">
                <<dt>
                    @Html.DisplayNameFor(model => model.exame_time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.exame_time)
                </dd>
            </div>
            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.publishDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.publishDate)
                </dd>
            </div>

            </dl>
            @using (Html.BeginForm())
            {
@Html.AntiForgeryToken()

                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-success" /> |
                        @Html.ActionLink("Hủy", "Index", "Exam", new { @class = "btn btn-secondary" })
                    </div>
                </div>}
        </div>
    </div>
</div>


