@model model.Framework.Exam

@{ ViewBag.Title = "Details";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<h2>Chi tiết đề thi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.tile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tile)
        </dd>
</div>
<div class="row">
    <<dt>
        @Html.DisplayNameFor(model => model.exame_time)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.exame_time)
    </dd>
</div>

            </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sữa", "Edit", new { id = Model.exam_id }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("trở về", "Index", "Exam", new { @class = "btn btn-outline-secondary" })
</p>

