@model model.Framework.Exam

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exame_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exame_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publishDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.exam_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
