@model List<model.Framework.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-10">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Danh Sách CTV</strong>
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>BirdthDay</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Adress</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="">@item.admin_name</td>
                            <td class="">@item.birthday.Value.ToString("dd/MM/yyyy")</td>
                            <td> @item.email</td>
                            <td>@item.phone </td>
                            <td> @item.address </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div> <!-- /.table-stats -->

    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Thêm CTV</button>
    </div>
</div>
