@model model.Framework.Subject

@{ ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="modal fade show" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" style="display: block; padding-left: 16px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="scrollmodalLabel" style="color:red">Bạn có chắc muốn xóa người dùng này?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> @Html.ActionLink("×", "Index", "Subject")</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.subject_name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.subject_name)
                    </dd>
            </div>
            </dl>
            @using (Html.BeginForm())
            {
@Html.AntiForgeryToken()

                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-success" /> |
                        @Html.ActionLink("Hủy", "Index", "Subject", new { @class = "btn btn-secondary" })
                    </div>
                </div>}
        </div>
    </div>
</div>


